.tabs {
  display: block;
}

.tab {
  &-item {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    &--active {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: black;
      }
    }
  }
}
