.buttons {
  margin: 20px auto;
  text-align: center;
  display: block !important;
}

.button {
  background: pink;
}

.img-container {
  width: 100%;
  height: 100%;
  .img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
